.handle-section {
	margin: 0 auto;

	.arrow {
		display: flex;
		justify-content: center;

		&-backward {
			transform: scaleX(-1);
		}
	}

	&__carousel {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 2rem 0 2rem 0;
	}

	&__carousel-content {
		display: flex;
		justify-content: center;
		border-radius: .2rem;
		margin: 0 auto;
		height: 514px;
	}

	.photo {
		img {
			height: 480px;
			width: 640px;
			margin: 1rem 0 1rem 0;
		}
	}
}

