@import '../helpers/variables';

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    transition: all ease 0.5s;

    &__brand {
        font-size: 2rem;
    }

    &__logo {
        padding: 1rem 0 1rem 5rem;
    }

    &__navbar-item {
        font-weight: 400;
        width: 100%;
        height: 100%;
        transition: all ease .3s;
        
        &:hover {
            color: #24bae2;
            transition: all ease .3s;
        }
    }

    .bg-item:hover {
        background: #455a64;
    }
}

@include responsive(map-get($sizes, 's')) {
    .header {

        &__navbar {
            height: 100%;
        }

        &__navbar-item {
            padding: 1rem;
        }

        &__logo {
            margin: 1rem 0 1rem 0;
        }
    }
}