@import '../helpers/variables';

.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;

    &__brand {
        font-size: 2rem;
    }

    &__logo {
        margin: 1.2rem 1rem 1.2rem 5rem;
    }

    &__navbar {
        padding-top: 1.5rem;
    }

    &__navbar-item {
        font-weight: 400;
        transition: all ease .3s;
        
        &:hover {
            color: #24bae2;
            transition: all ease .3s;
        }
    }
}

@include responsive(map-get($sizes, 's')) {
    .header {

        &__navbar {
            height: 100%;
        }

        &__navbar-item {
            padding: 1rem;
        }

        &__logo {
            margin: 1rem 0 1rem 0;
        }
    }
}