@import '../helpers/variables';

.header {
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    &__brand {
        font-size: 2rem;
    }

    &__logo {
        margin: 1.2rem 1rem 1.2rem 5rem;
    }

    &__navbar-item {
        font-weight: 400;
        height: 100%;
        width: 100%;
        transition: all ease .3s;
        
        &:hover {
            background: #E9E9E9;
            transition: all ease .3s;
        }
    }
}

@include responsive(map-get($sizes, 's')) {
    .header {

        &__navbar {
            height: 100%;
        }

        &__navbar-item {
            padding: 1rem;
        }

        &__logo {
            margin: 1rem 0 1rem 0;
        }
    }
}