//Global-size
.flex                   {display: flex};
.flex-column            {display: flex; flex-direction: column;};

.fj-around              {justify-content: space-around};
.fj-center              {justify-content: center};
.fj-start               {justify-content: flex-start};
.fj-end                 {justify-content: flex-end};

.fa-center              {align-items: center;}

.vp-height-100vh        {min-height: 100vh;}

//sl-size

@include responsive($lg-size, $sl-size){
    .sl-flex-column            {display: flex; flex-direction: column;};

    .sl-fj-around              {justify-content: space-around};
    .sl-fj-center              {justify-content: center};
    .sl-fj-start               {justify-content: flex-start};
    .sl-fj-end                 {justify-content: flex-end};

    .sl-fa-center              {align-items: center;}
};

//lg-size

@include responsive($md-size, $lg-size) {
    .lg-flex-column            {display: flex; flex-direction: column;};

    .lg-fj-around              {justify-content: space-around};
    .lg-fj-center              {justify-content: center};
    .lg-fj-start               {justify-content: flex-start};
    .lg-fj-end                 {justify-content: flex-end};

    .lg-fa-center              {align-items: center};
}

//md-size

@include responsive($sm-size, $md-size) {
    .md-flex-column            {display: flex; flex-direction: column;};

    .md-fj-around              {justify-content: space-around};
    .md-fj-center              {justify-content: center};
    .md-fj-start               {justify-content: flex-start};
    .md-fj-end                 {justify-content: flex-end};

    .md-fa-center              {align-items: center};
}

//sm-size

@include responsive($default-size, $sm-size) {
    .sm-flex-column            {display: flex; flex-direction: column;};

    .sm-fj-around              {justify-content: space-around};
    .sm-fj-center              {justify-content: center};
    .sm-fj-start               {justify-content: flex-start};
    .sm-fj-end                 {justify-content: flex-end};

    .sm-fa-center              {align-items: center};
}