@import '../helpers/mixins/display';
@import '../helpers/variables';
@import '../helpers/mixins/responsive';

.vp-height-100vh        {min-height: 100vh;}
.block                  {display: block;}

@include display(null);

@each $size, $size-value in $sizes {
    @include responsive($size-value) {
        @include display($size);
    }
}
