@import './helpers/variables';
@import '../helpers/mixins/grid';

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.box-column {
    @extend .box;
    flex-direction: column;
}

@media only screen and (min-width: $lg-size) {
    @for $i from 1 through $columns {
        @include grid('xs', $columns, $i);
    }
}

@media only screen and (max-width: $sm-size){
    @for $i from 1 through $columns {
        @include grid('sm', $columns, $i);
    }
}

@media only screen and (min-width: $sm-size + 1) and (max-width: $md-size) {
    @for $i from 1 through $columns {
        @include grid('md', $columns, $i);
    }
}

@media only screen and (min-width: $md-size + 1) and (max-width: $lg-size) {
    @for $i from 1 through $columns {
        @include grid('lg', $columns, $i);
    }
}