@include responsive(map-get($sizes, 's')) {
    .team-section {
        &__list {
            flex-direction: row;
        }
        &__list-item {
            .body-1 {
                font-size: 1rem;
            }
            .caption {
                font-size: .8rem;
            }
            &:nth-child(1) {
                order: 0;
            }
            &:nth-child(2) {
                order: -1;
                margin-top: 25px;
            }
            &:nth-child(3) {
                order: 0;
                margin-top: 25px;
            }
        }
    }
}

@include responsiveLandscape(map-get($sizes, 's')) {
    .team-section {
        &__list {
            flex-direction: row;
        }
        &__list-item {
            .body-1 {
                font-size: 1rem;
            }
            .caption {
                font-size: .8rem;
            }
            &:nth-child(1) {
                order: 0;
                width: 100%;
            }
            &:nth-child(2) {
                order: 0;
                margin-top: 0px;
            }
            &:nth-child(3) {
                order: 0;
                margin-top: 0px;
            }
        }
    }
}

@include responsive(map-get($sizes, 'm')) {
    .team-section {
        &__list-item {
            &__tab {
                padding-bottom: .5rem;
            }
            img {
                height: 150px;
                margin: 0rem;
            }
        }
    }
}

@include responsive(map-get($sizes, 'l')) {
    .team-section {
        &__list {
            margin: 2rem 0 2rem 0;
        }
        &__list-item {
            &:nth-child(2) {
                order: -1;
            }
            &:nth-child(5) {
                order: -2;
            }
            &:nth-child(2),
            &:nth-child(3) {
                margin: 4rem 0 0 0;
            }
            &:nth-child(4),
            &:nth-child(5) {
                margin: 7rem 0 0 0;
            }
        }
    }
}

@include responsive(map-get($sizes, 'x')) {
    .team-section {
        &__list {
            margin: 2rem 0 2rem 0;
        }
        &__list-item {
            &:nth-child(2) {
                order: -1;
            }
            &:nth-child(5) {
                order: -2;
            }
            &:nth-child(2),
            &:nth-child(3) {
                margin: 4rem 0 0 0;
            }
            &:nth-child(4),
            &:nth-child(5) {
                margin: 7rem 0 0 0;
            }
        }
    }
}