
// GRID SYSTEM VARIABLES //

$columns: 12;

$default: 0px;
$sm-size: 768px;
$md-size: 1024px;
$lg-size: 1200px;
$sl-size: 1920px;

$colors: (
    'w': #fff,
    'b': #000,
    'primary': #013444,
    'secondary': #f3f3f3,
    'tertiary': #151515,
    'accent': #24bae2 
);