// GRID SYSTEM VARIABLES //

$columns: 12;

$default-size: 0px;
$sm-size: 768px;
$md-size: 1024px;
$lg-size: 1200px;
$sl-size: 1920px;

$colors: (
    'w': #fff,
    'b': #000,
    'primary': #0e1422,
    'secondary': #f3f3f3,
    'tertiary': #151515,
    'quaternary': #455a64,
    'accent': #24bae2 ,
    'primary-alpha': rgba(#0e1422, .7)
);

$sizes: (
    's': ($default-size, $sm-size + 1),
    'm': ($sm-size, $md-size + 1),
    'l': ($md-size, $lg-size + 1),
    'x': ($lg-size, $sl-size + 1)
);