// GRID SYSTEM VARIABLES //

$columns: 12;

$default-size: 0px;
$sm-size: 768px;
$md-size: 1024px;
$lg-size: 1200px;
$sl-size: 1920px;
$xl-size: 2560px;

$colors: (
    'w': #fff,
    'b': #000,
    'primary': #0e1422,
    'secondary': #f3f3f3,
    'tertiary': #151515,
    'quaternary': #455a64,
    'accent': #24bae2 
);